################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Repository/Queries/packages
/Repository/Queries/.vs/Queries/v15
/Repository/Queries/Queries/bin/Debug
/Repository/Queries/Queries/obj/Debug
